api:
  pullSecret:
    enabled: true
    name: ghcr-registry-secret
    data:
      .dockerconfigjson: BASE64_ENCODED_DATA

  secret:
    name: codestar-api-secret
    conn_str: RAW_CONNECTION_STRING

frontend:
  pullSecret:
    enabled: true
    name: ghcr-registry-secret
    data:
      .dockerconfigjson: BASE64_ENCODED_DATA
