api:
  deployment:
    pullSecret:
      enabled: true
      data:
        dockerconfigjsonB64: BASE64_ENCODED_DATA

  secret:
    enabled: true
    data:
      conn_str: RAW_CONNECTION_STRING

frontend:
  deployment:
    pullSecret:
      enabled: true
      data:
        dockerconfigjsonB64: BASE64_ENCODED_DATA
